# Ignore node_modules
**/node_modules/*

# Ignore build files
**/build/*

# ignore html and scss files imported in js modules
*.html
*.scss
*.css
*.md

# coverage report
**/coverage/*

# ignore redux store
**/redux/*
**/serviceWorker.js